


/* @font-face*/

@font-face{
    font-family: "Orkney";
    src: url("../fonts/orkney/Orkney Medium.ttf");
}

@font-face{
    font-family: "Staaliches";
    src: url("../fonts/Staaliches/Staaliches-Regular.ttf");
}