/* import fonts from fonts.css file */
@import url(./fonts.css); 

/* start columns */


.col-sm-4{
    padding-top: 10vh;
    justify-content: center;
}

.col-sm-8{
    padding-top: 10vh;
}

.colthird{
    padding-top: 10vh;
    float: left;
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coltwothird{
    padding-top: 10vh;
    float: right;
    width: 67.77%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rows:after {
    content: "";
    display: table;
    clear: both;
  }


/* end columns */

/*start screen specifics */

@media screen and (max-width: 700px){
    .narrow{
        display: block
    }

}

/*fonts */
h1{
    font-family: Staaliches;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #0B0014;
}
h2{
    font-family: Staaliches;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
}

h5{
    font-family: Orkney;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    margin-top: .3em;
    margin-bottom: 1em;
    color: #000000;
}

h6{
    font-family: Orkney;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin-top: .3em;
    margin-bottom: 1em;
    color: #000000;
}

h7{
    font-family: Orkney;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin-top: .3em;
    margin-bottom: 1em;
    color: #773344
}

p{
    font-family: Orkney;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: left;
    letter-spacing: 0.06em;
    margin-bottom: 1em;
    color: #000000;
}

img{
    max-width: 100%;
    height: auto;
}



/* end fonts */


@media screen and (min-width: 1200px){
    h1{ 
            font-size: 120px;
            line-height: 150px;
        }
    h2{
        font-size: 48px;
        line-height: 60px;
    }
    h6{
        font-size: 27px;
        line-height: 32px;
    }
   
}

/* end screen specifics */
body, html{
    height: 100%;
    background-color: #F8F3F0;
}
/* start header */
.Header{
    width: 100vw;
    height: 100vh;
    background-color: #F8F3F0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
   
    overflow: hidden;
    background: #F8F3F0;
    box-shadow: 0px 0px 40px rgba(16, 16, 16, 0.1);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100vw; /* Full width */
    height: 9vh;
   /* padding-left: 30vw;
    padding-right: 10vw; */
    z-index: 10;
    padding: 0 4vw;
  }

.navbar-right{
    float: right;
}
  /* Links inside the navbar */

   a.logo{
    float: left;
    font-family: Staaliches;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 40px;
    line-height: 0px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.06em;

    color: #000000;
  }

    a.left{
        position: relative;
        float: right;
        display: block;
        text-align: center;
        text-decoration: none;
   

        font-family: Orkney;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 16px;
        letter-spacing: 0.06em;
        margin: 0 0px 0px 20px;
        color: #0B0014;
    }
    
  /* Change background on mouse-over */
    a.left:before {
        content: "";
        position: absolute;
        width: 0px;
        height: 7px;
        bottom: 0;
        left: 0;
        background: rgba(119, 51, 68, 0.3);
        visibility: hidden;
        transition: all 0.3s ease-in-out;
  }
    a.left:hover:before {
        visibility: visible;
        width: 100%;
        
  }

  .main{
      
  }

  a.current{
        content: "";
        position: absolute;
        width: 0px;
        height: 7px;
        bottom: 0;
        left: 0;
        background: rgba(119, 51, 68, 0.3);
        visibility: visible;
  }
/* end header */

/* start About */
.About{
    background-color: #F8F3F0;
    /*padding: 74px 169px;*/
    padding: 9vh 15vw;
}
.polaroidContainer2{
    position: relative;
    margin-bottom: 8vh;
    width: 284px;
    height: 339px;
    background: #F1F1F5;
    /*filter: drop-shadow(3px 5px 16px rgba(0, 0, 0, 0.45));*/
    border-radius: 4px;
    filter: drop-shadow(3px 5px 16px rgba(0, 0, 0, 0.45));
 
}

.polaroidImage2{
    position: absolute;
    left: 6.12%;
    right: 5.85%;
    top: 4.78%;
    bottom: 21.48%;


    border: 1px solid rgba(98, 98, 98, 0.2);
    box-sizing: border-box;
    box-shadow: inset 1px 2px 10px 3px rgba(0, 0, 0, 0.2);
}


.tape{
    position: absolute;
    left: 24.9%;
    right: 28.96%;
    top: -7.34%;
    bottom: 95.22%;
    z-index: 1;
    fill: #E8E5E0;
}

.workdetail2{
    position: absolute;
    left: 5.99%;
    right: 5.99%;
    top: 82%;
}

.workdetail2 p{
    text-transform: capitalize;
}

.polaroidContainer3{
    position: relative;
    margin-top: 5vh;
    width: 634px;
    height: 446px;
    background: #F1F1F5;
    /*filter: drop-shadow(3px 5px 16px rgba(0, 0, 0, 0.45));*/
    border-radius: 4px;
    filter: drop-shadow(3px 5px 16px rgba(0, 0, 0, 0.45));
}

.polaroidImage3{
    position: absolute;
    left: 4.26%;
    right: 4.26%;
    top: 6.05%;
    bottom: 17.09%;

    border: 1px solid rgba(98, 98, 98, 0.2);
    box-sizing: border-box;
    box-shadow: inset 1px 2px 10px 3px rgba(0, 0, 0, 0.2);
}

.workdetail3{
    position: absolute;
    left: 4.26%;
    right: 4.26%;
    top: 87%;
    
}

.workdetail3 p{
    text-transform: capitalize;
}

/* end About */

/* start Work */
.Work{
    background-color: #F8F3F0;
    padding: 74px 0px 0px 0px;
}

.polaroidWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13vh;
}
.polaroidContainer{
    position: relative;
    margin-top: 13vh;
    margin-inline-start: 5vw;
    margin-inline-end: 5vw;
    width: 385px;
    height: 486px;
    background: #F1F1F5;
    filter: drop-shadow(3px 5px 16px rgba(0, 0, 0, 0.45));
    border-radius: 4px;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 3px 5px 20px rgba(255, 249, 249, 0.25);
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

  .polaroidContainer:hover, .polaroidContainer:focus, .polaroidContainer:active {
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

.polaroidImage{
    position: absolute;
    left: 6.23%;
    right: 6.23%;
    top: 4.94%;
    bottom: 25.72%;


    border: 1px solid rgba(98, 98, 98, 0.2);
    box-sizing: border-box;
    box-shadow: inset 1px 2px 10px 3px rgba(0, 0, 0, 0.2);
}
.workdetail{
    position: absolute;
    left: 6.23%;
    right: 6.23%;
    top: 77.16%;
}

.workdetail h1{
    /* Project Name */
    
    padding: 10px 0px 0px 0px;
    font-family: Orkney;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    text-align: left;
    /* identical to box height, or 150% */

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #000000;
}

.workdetail h2{
    /* Tag */
    padding: 0px 0px;
    font-family: Orkney;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;
    text-align: left;
    /* identical to box height, or 167% */

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #C4C4C4;
}
.workdetail p{
    /* Project Description */

    padding-bottom: 0px;
    font-family: Orkney;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: left;
    /* identical to box height */

    letter-spacing: 0.06em;
    text-transform: capitalize;

}
/* end Work*/

/*Start Project Page Details */
.projectbody{
    padding: 0 15vw 13vh 15vw;
    background-color: #F8F3F0;
}

ul{
    /*text-indent: 3em;*/
}

ul li p{
    text-transform: capitalize;
    margin-bottom: 0;
    font-size: 14px;
}

ol li p{
    text-transform: capitalize;
    margin-bottom: .2em;
    font-size: 14px;
}

ol{
    margin-bottom: 2em;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-intro{
    height: 100vh;
    display: flex;
    background-color: #FFDCCA;
    justify-content: center;
    align-items: center;
}

.project-intro background-image{
    opacity: .3;
}


.projectbody h6{
    text-align: left;
    font-weight: bold;
}



.textblock{
}

.wrapper{
    display: flex;
    justify-content: center;
    column-gap: 4vw;
}

.project-section{
    padding-top: 20px;
}

.leftimage .polaroidContainer2{
    float: left;
    margin-inline-end: 3em;
    margin-bottom: 3em;
}

.rightimage .polaroidContainer2{
    float: right;
    margin-inline-start: 3em;
    margin-bottom: 3em;
}

.polaroidContainer2{
    margin: auto;
}
.clothingsection{
    margin-top: 5vh;
    margin-bottom: 10vh;
}

/*End Project Page Details */

/* Start Footer */
.footer{
    display: block;
    position: relative;
    background: rgba(0, 0, 0, 0.05);
    opacity: 0.9;;
    padding:70px 0;
    bottom: 0;
    width: 100%;

}

.footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    opacity: 0.9;
    background-size: 100% 100%;
    z-index: 0;
    opacity: 0.5;
}

.footer p{
    text-align: center;
    font-family: Orkney;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: black;
}

.footer h6{
    text-align: center;
    font-family: Orkney;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    
    /* identical to box height */

    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: #414141;
}

.contactIconRow{
    position: relative;
    text-align: center;
    padding-bottom: 10px;
}

.contactIcon{
    margin: 0px 10px;
}

.contactIcon:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
/* end Footer*/

