/* import fonts from fonts.css file */
@import url(./fonts.css); 

/* start columns */

.col-sm-4{
    padding-top: 10vh;
    justify-content: center;
}

.col-sm-8{
    padding-top: 10vh;
}

.colthird{
    padding-top: 10vh;
    float: left;
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coltwothird{
    padding-top: 10vh;
    float: right;
    width: 67.77%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rows:after {
    content: "";
    display: table;
    clear: both;
  }


/* end columns */


.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}


/*start screen specifics */

@media screen and (max-width: 700px){
    .narrow{
        display: block
    }

}

/*fonts */
h1{
    font-family: Staatliches;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #0B0014;
}
h2{
    font-family: Staatliches;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
}

h5{
    font-family: Orkney;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    margin-top: .3em;
    margin-bottom: 1em;
    color: #000000;
}

h6{
    font-family: Orkney;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin-top: .3em;
    margin-bottom: 1em;
    color: #000000;
}

h7{
    font-family: Orkney;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin-top: .3em;
    margin-bottom: 1em;
    color: #773344
}

p{
    font-family: Orkney;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: left;
    letter-spacing: 0.06em;
    margin-bottom: 1em;
    color: #000000;
}

img{
    max-width: 100%;
    height: auto;
}



/* end fonts */


@media screen and (min-width: 1200px){
    h1{ 
            font-size: 120px;
            line-height: 150px;
        }
    h2{
        font-size: 48px;
        line-height: 60px;
    }
    h6{
        font-size: 27px;
        line-height: 32px;
    }
   
}

/* end screen specifics */
body, html{
    height: 100%;
    background-color: #F8F3F0;
}
/* start header */
.Header{
    width: 100vw;
    height: 100vh;
    background-color: #F8F3F0;
    display: flex;
    align-items: center;
    justify-content: center;
}


  /* navhead */
  
  .navhead {
    top: 0;
    left: 0;
    background-color: #f8f3f0;
    box-shadow: 0px 0px 40px rgba(16, 16, 16, 0.1);
    width: 100vw; /* Full width */
    height: 9vh;
    min-height: 50px;
    position: fixed;
    z-index: 3;
    vertical-align: center;
  }
  
  .navhead ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #f8f3f0;
  }
  
  .navhead li a {
    display: block;
    position: relative;
    padding: 3vh 4vw;
    text-decoration: none;
    font-family: "Orkney-Medium", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.06em;
    color: #000000;
    text-align: center;
  }
  

/* Change background on mouse-over */

 .navhead a.left:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 100%;
    bottom: 0px;
    left: 0;
    background: rgba(119, 51, 68, 0.3);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

  .navhead a.left:hover:before,
  .navhead .menu-btn:hover {
    visibility: visible;
    width: 100%;
}
  
  .navhead .logo {
    display: block;
    float: left;
    padding: 0px 4vw;
    text-decoration: none;
    font-family: Staatliches;
    letter-spacing: 0.06em;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    /* identical to box height */
    text-align: center;
    color: #000000;
  }
  
  /* menu */
  
  .navhead .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .navhead .menu-icon {
    cursor: pointer;
    display: block;
    float: right;
    padding: 28px 4vw;
    position: relative;
    user-select: none;
  }
  
  .navhead .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .navhead .menu-icon .navicon:before,
  .navhead .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .navhead .menu-icon .navicon:before {
    top: 5px;
  }
  
  .navhead .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .navhead .menu-btn {
    display: none;
  }
  
  .navhead .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .navhead .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .navhead .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .navhead .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .navhead .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .navhead .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  @media screen and (max-width:360px){
    .navhead .logo{

        font-size: 30px;

        }
}
  /* 48em = 768px */
  
  @media (min-width: 48em) {

    .navhead li {
      float: left;
    }

    .navhead ul {
      margin: 0;
      margin-right: 4vw;
      padding: 0;
      list-style: none;
      overflow: hidden;
      background-color: #f8f3f0;
    }
    .navhead li a {
      padding: 0px 3px;
      margin: 3vh 20px 0 20px;

    }
    .navhead .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .navhead .menu-icon {
      display: none;
    }
    .navhead a.left:before {
      content: "";
      position: absolute;
      width: 0px;
      height: 7px;
      bottom: 4px;
      left: 0;
      background: rgba(119, 51, 68, 0.3);
      visibility: hidden;
      transition: all 0.3s ease-in-out;
  }
    .navhead a.left:hover:before,
    .navhead .menu-btn:hover {
      visibility: visible;
      width: 100%;
    }

    .navhead .logo {
        display: block;
        float: left;
        padding: 0px 4vw;
        text-decoration: none;
        font-family: Staatliches;
        letter-spacing: 0.06em;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        /* identical to box height */
        text-align: center;
        color: #000000;
      }
  
  }
  /*
.navbar-right{
    float: right;
}*/
  /* Links inside the navbar */
/*
   a.logo{
    float: left;
    font-family: Staatliches;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 40px;
    line-height: 0px;
    /* identical to box height */
/*
    text-align: center;
    letter-spacing: 0.06em;

    color: #000000;
  }
*/

/*
    a.left{
        position: relative;
        float: right;
        display: block;
        text-align: center;
        text-decoration: none;
   

        font-family: Orkney;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 16px;
        letter-spacing: 0.06em;
        margin: 0 0px 0px 20px;
        color: #0B0014;
    }
    
  /* Change background on mouse-over */
   /* a.left:before {
        content: "";
        position: absolute;
        width: 0px;
        height: 7px;
        bottom: 0;
        left: 0;
        background: rgba(119, 51, 68, 0.3);
        visibility: hidden;
        transition: all 0.3s ease-in-out;
  }
    a.left:hover:before {
        visibility: visible;
        width: 100%;
        
  }
*/


  a.current{
        content: "";
        position: absolute;
        width: 0px;
        height: 7px;
        bottom: 0;
        left: 0;
        background: rgba(119, 51, 68, 0.3);
        visibility: visible;
  }
/* end header */

/* start About */
.About{
    background-color: #F8F3F0;
    /*padding: 74px 169px;*/
    padding: 11vh 15vw;
}
.polaroidContainer2{
    position: relative;
    margin-bottom: 8vh;
    width: 284px;
    height: 339px;
    background: #F1F1F5;
    /*filter: drop-shadow(3px 5px 16px rgba(0, 0, 0, 0.45));*/
    border-radius: 4px;
    filter: drop-shadow(3px 5px 16px rgba(0, 0, 0, 0.45));
 
}

.polaroidImage2{
    position: absolute;
    left: 6.12%;
    right: 5.85%;
    top: 4.78%;
    bottom: 21.48%;


    border: 1px solid rgba(98, 98, 98, 0.2);
    box-sizing: border-box;
    box-shadow: inset 1px 2px 10px 3px rgba(0, 0, 0, 0.2);
}


.tape{
    position: absolute;
    left: 24.9%;
    right: 28.96%;
    top: -7.34%;
    bottom: 95.22%;
    z-index: 1;
    fill: #E8E5E0;
}

.workdetail2{
    position: absolute;
    left: 5.99%;
    right: 5.99%;
    top: 82%;
}

.workdetail2 p{
    text-transform: capitalize;
}

.polaroidContainer3{
    position: relative;
    margin-top: 5vh;
    width: 634px;
    height: 446px;
    background: #F1F1F5;
    /*filter: drop-shadow(3px 5px 16px rgba(0, 0, 0, 0.45));*/
    border-radius: 4px;
    filter: drop-shadow(3px 5px 16px rgba(0, 0, 0, 0.45));
}

.polaroidImage3{
    position: absolute;
    left: 4.26%;
    right: 4.26%;
    top: 6.05%;
    bottom: 17.09%;

    border: 1px solid rgba(98, 98, 98, 0.2);
    box-sizing: border-box;
    box-shadow: inset 1px 2px 10px 3px rgba(0, 0, 0, 0.2);
}

.workdetail3{
    position: absolute;
    left: 4.26%;
    right: 4.26%;
    top: 87%;
    
}

.workdetail3 p{
    text-transform: capitalize;
}

/* end About */

/* start Work */
.Work{
    background-color: #F8F3F0;
    padding: 74px 0px 0px 0px;
}

.polaroidWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13vh;
}
.polaroidContainer{
    position: relative;
    margin-top: 13vh;
    margin-inline-start: 5vw;
    margin-inline-end: 5vw;
    width: 385px;
    height: 486px;
    background: #F1F1F5;
    filter: drop-shadow(3px 5px 16px rgba(0, 0, 0, 0.45));
    border-radius: 4px;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 3px 5px 20px rgba(255, 249, 249, 0.25);
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

  .polaroidContainer:hover, .polaroidContainer:focus, .polaroidContainer:active {
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

.polaroidImage{
    position: absolute;
    left: 6.23%;
    right: 6.23%;
    top: 4.94%;
    bottom: 25.72%;


    border: 1px solid rgba(98, 98, 98, 0.2);
    box-sizing: border-box;
    box-shadow: inset 1px 2px 10px 3px rgba(0, 0, 0, 0.2);
}
.workdetail{
    position: absolute;
    left: 6.23%;
    right: 6.23%;
    top: 77.16%;
}

.workdetail h1{
    /* Project Name */
    
    padding: 10px 0px 0px 0px;
    font-family: Orkney;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    text-align: left;
    /* identical to box height, or 150% */

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #000000;
}

.workdetail h2{
    /* Tag */
    padding: 0px 0px;
    font-family: Orkney;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;
    text-align: left;
    /* identical to box height, or 167% */

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #C4C4C4;
}
.workdetail p{
    /* Project Description */

    padding-bottom: 0px;
    font-family: Orkney;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: left;
    /* identical to box height */

    letter-spacing: 0.06em;
    text-transform: capitalize;

}
/* end Work*/

/*Start Project Page Details */
.projectbody{
    padding: 0 15vw 13vh 15vw;
    background-color: #F8F3F0;
}

ul{
    /*text-indent: 3em;*/
}

ul li p{
    text-transform: capitalize;
    margin-bottom: 0;
    font-size: 14px;
}

ol li p{
    text-transform: capitalize;
    margin-bottom: .2em;
    font-size: 14px;
}

ol{
    margin-bottom: 2em;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-intro{
    height: 100vh;
    display: flex;
    background-color: #FFDCCA;
    justify-content: center;
    align-items: center;
}

.project-intro background-image{
    opacity: .3;
}


.projectbody h6{
    text-align: left;
    font-weight: bold;
}



.textblock{
}

.wrapper{
    display: flex;
    justify-content: center;
    column-gap: 4vw;
}

.project-section{
    padding-top: 20px;
}

.project-section .polaroidContainer2{
    margin-inline-start: 3em;
    margin-inline-end: 3em;
    margin-bottom: 3em;
}
.leftimage .polaroidContainer2{
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 3em;
    margin-bottom: 3em;
}

.rightimage .polaroidContainer2{
    float: right;
    margin-inline-start: 3em;
    margin-inline-end: 0em;
    margin-bottom: 3em;
}

.polaroidContainer2{
    margin: auto;
}
.clothingsection{
    margin-top: 5vh;
    margin-bottom: 10vh;
}

/*End Project Page Details */

/* Start Footer */
.footer{
    display: block;
    position: relative;
    background: rgba(0, 0, 0, 0.05);
    opacity: 0.9;;
    padding:70px 0;
    bottom: 0;
    width: 100%;

}

.footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    opacity: 0.9;
    background-size: 100% 100%;
    z-index: 0;
    opacity: 0.5;
}

.footer p{
    text-align: center;
    font-family: Orkney;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: black;
}

.footer h6{
    text-align: center;
    font-family: Orkney;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    
    /* identical to box height */

    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: #414141;
}

.contactIconRow{
    position: relative;
    text-align: center;
    padding-bottom: 10px;
}

.contactIcon{
    margin: 0px 10px;
}

.contactIcon:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
/* end Footer*/

